/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#root {
	display: flex;
	justify-content: center;
	background-color: black;
	--main-gradient: -webkit-linear-gradient(0deg, rgba(30,27,75,1) 25%, rgba(74,4,78,1) 90%);
	--primary-color: black;
	--container-text: white;
	--background-text: rgb(234, 212, 245);
	--card-gradient: -webkit-linear-gradient(0deg, rgba(30,27,75,1) 25%, rgb(12, 2, 54) 90%);
}

.Main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.gameName {
	margin-top: 20vh;
	font-size: 4vw;
	font-weight: bold;
	text-align: center;
	color:var(--background-text);
	background: var(--main-gradient);
  	-webkit-background-clip: text;
  	-webkit-text-stroke: 6px transparent;
	animation: dropDown .8s ease-in-out 1;
	animation-delay: 500ms;
	animation-fill-mode: backwards;
}

.pickDifficulty {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	min-height: 30vh;
	width: 50vw;
	background: rgb(30,27,75);
	background: var(--main-gradient);
	border-radius: 16px;
	padding: 24px;
	box-shadow: 1px 1px 3px 3px rgb(0, 0, 0);
	animation: clothesLine 1.2s ease-in-out 1;
	animation-delay: 1000ms;
	animation-fill-mode: backwards;
	perspective: 1500px;
	transform-style: preserve-3d;
}

.containerHeader {
	font-size: 3vw;
	color:white;
	padding: 12px 8px;
	border-radius: 12px;
}

.scoreWrapperMain {
	display:flex;
	width: 80%;
	height: 4vh;
	border-radius: 4px;
	box-sizing: border-box;
}

.scoreWrapperMain span {
	flex:1;
	box-sizing: border-box;
	height: 100%;
	display:flex;
	justify-content: center;
	align-items: center;
}

.scoreWrapperMain span:not(:first-child) {
	background-color: rgba(0, 0, 0, 0.5);
	color:var(--container-text);
}

.scoreWrapperMain span:first-child {
	border: 2px solid rgba(0, 0, 0, 0.712);
}

.difficulty {
	padding: 8px 16px;
	font-size: 20px;
	border-radius: 4px;
	transition: border .2s ease-in;
	box-sizing: border-box;
	border: none;
}

.start {
	padding: 8px 60px;
}

.difficulty:hover {
	cursor: pointer;
	border: 2px solid rgba(0, 0, 0, 0.459)
}

.buttonContainer {
	display: flex;
	gap: 16px;
	justify-content: center;
	align-items: center;
	padding: 2vh 1vw;
}

.gameArea {
	height:100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
	box-sizing: border-box;
	width:90%;
}

.imageGrid {
	display: grid;
	height:100%;
	width: 60%;
	grid-auto-rows: 1fr;
	column-gap: 1vw;
	row-gap: 1vh;
	justify-items: center;
	align-items: center;
	box-sizing: border-box;
	padding: 40px 0px;
}

.gameInfo {
	display: flex;
	width: 90%;
	justify-content: space-evenly;
	font-size: 2vw;
	color: var(--background-text);
	animation: wiggle 2s linear infinite;
	font-weight: bold;
}

.timerContainer {
	display:flex;
	align-items: center;
	flex-basis: 50%;
	gap: 12px;
	justify-content: flex-end;
}

.score {
	text-align: center;
	flex-basis: 50%;
	display: flex;
	align-items: center;
	gap: 12px;
}

.score img {
	height: 32px;
	aspect-ratio: 1 /1;
}

@keyframes wiggle {
	50% {
		transform: translateY(5px);
	}
}

.albumWrapper {
	box-sizing: border-box;
	width: 100%;
	height: 80%;
	background: transparent;
	transition: transform .2s linear;
	perspective: 1500px;
	border:none;
}

.albumWrapper:hover {
	outline: none;
	transform: scale(1.05) rotateX(10deg) rotateY(-10deg);
}

/* .albumWrapper:hover {
	animation: flip 5s ease-in-out infinite;
} */

.albumInnerWrapper {
	position:relative;
	width: 100%;
	transform-style: preserve-3d;
	box-shadow: 3px 3px 5px 5px rgba(21, 1, 58, 0.459);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

/* .albumInnerWrapper:hover {
	animation: flip 5s ease-in-out infinite;
} */

.albumFront,
.albumBack {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	position:absolute;
	width: 100%;
	height:100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	text-align: center;
	background: rgb(30,27,75);
	background: var(--card-gradient);
}

.albumBack {
	transform: rotateY(180deg);
}

.flip {
	animation: flip180 .4s ease-in-out 1;
	animation-fill-mode: forwards;
}

.flipped {
	transform: rotateY(180deg);
}

.flipBack {
	animation: flip360 .4s ease-in-out 1;
}

@keyframes flip180 {
	100% {
		transform: rotateY(180deg);
	}
}

@keyframes flip360 {
	0% {
		transform: rotateY(180deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}


.albumFront h1 {
	font-size: .9vw;
	box-sizing: border-box;
	text-decoration: underline;
	width: 90%;
	text-overflow: ellipsis;
	color:white;
}

.albumCover {
	border: 2px solid black;
	aspect-ratio: 1 / 1;
	width: 70%;
}

.timer {
	font-size: 2vw;
	color: var(--background-text);
}

.cardDisc {
	width: 40%;
	height:auto;
}


.dimmer {
	position:absolute;
	bottom: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.678);
	display: flex;
	justify-content: center;
	align-items: center;
}

.resultsWrapper {
	padding: 20px 60px;
	border-radius: 12px;
	border: 4px solid black;
	animation: dropDown 1s ease-out 1;
	animation-fill-mode: forwards;
	width: 50vw;
	background: rgb(30,27,75);
	background: linear-gradient(94deg, rgba(30,27,75,1) 25%, rgba(74,4,78,1) 90%);
}

@keyframes dropDown {
	0% {
		transform: translateY(-50vh);
	}

	60% {
		transform: translateY(5vh);
	}

	100% {
		transform: translateY(0vh);
	}
}

@keyframes clothesLine {
	0% {
		transform: translateX(150vw);
	}

	60% {
		transform: translateX(-5vw)
	}

	100% {
		transform: translateX(0vw);
	}
}

/* @keyframes clothesLine {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1) rotateX(720deg) ;
	}
} */

.resultText {
	text-align: center;
	font-size: 4vw;
	font-weight: bold;
	background: (--main-gradient);
  	-webkit-background-clip: text;
  	-webkit-text-stroke: 6px transparent;
	color:white;
}

.verticalFlex {
	display:flex;
	flex-direction: column;
	gap: 24px;
	margin-top: 24px;
}

.resultsButton {
	font-size: 1.5vw;
	padding: 8px;
	/* box-shadow: 1px 1px 3px 3px rgb(32, 2, 37); */
	border-radius: 4px;
	border: 1px solid black;
	box-sizing: border-box;
	transition: box-shadow .4s ease-out;
	width: 80%;
	background-color: rgba(0, 0, 0, 0.233);
	color:white;
}

.resultsButton:hover {
	cursor: pointer;
	box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.425);
}

.icon {
	-webkit-filter: invert(89%) sepia(98%) saturate(7289%) hue-rotate(184deg) brightness(103%) contrast(92%); /* Safari/Chrome */
    filter: invert(89%) sepia(98%) saturate(7289%) hue-rotate(184deg) brightness(103%) contrast(92%);
}

.loadingText {
	font-size: 4vw;
	font-weight: bold;
	text-align: center;
	color:var(--background-text);
	background: var(--main-gradient);
  	-webkit-background-clip: text;
  	-webkit-text-stroke: 6px transparent;
	font-style: italic;
	font-weight: bold;
	text-align: center;
}

.loadingContainer {
	display: flex;
	height: 80vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.loadingIcon {
	height: 50%;
	width: auto;
	animation: spin 1s infinite ease-in-out;
}

@keyframes spin {
	100% {
		transform: rotateZ(360deg);
	}
}

.footer {
	min-height:6%;
	background-color: var(--primary-color);
	display:flex;
	justify-content: flex-end;
	align-items: center;
	gap: 40px;
	width:100%;
	box-sizing: border-box;
	padding: 0 32px;
}

.footerLink {
	height: 5vh;
	width: auto;
}

.footerLink:hover {
	animation: spin .5s linear 1;
}

.footerButton {
	background-color: transparent;
	border:none;
}

.footerButton:hover {
	cursor: pointer;
}

.tutorialWrapper {
	height: 40vh;
	width: 20vw;
	color:var(--background-text);
	background: var(--card-gradient);
	box-sizing: border-box;
	padding: 1%;
	border-radius: 8px;
	position:relative;
}

.tutorial {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height:100%;
}

.tutorial h3 {
	text-align: center;
	font-size: 1vw;
	padding: 12px;
	background-color: rgba(0, 0, 0, 0.459);
	box-shadow: 3px 3px 5px 5px rgba(21, 1, 58, 0.459);
	border-radius: 4px;
}

.closeHowTo {
	position: absolute;
	top: 5px;
	background: rgba(255, 255, 255, 0.692);
	box-shadow: 3px 3px 5px 5px rgba(21, 1, 58, 0.459);
	border-radius: 8px;
	border:none;
}

.closeHowTo:hover {
	cursor: pointer;
}