/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#root {
	display: flex;
	justify-content: center;
	background-color: black;
}

.Main {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	min-height: 100vh;
	width: 100vw;
}

.gameName {
	font-size: 4vw;
	font-weight: bold;
	text-align: center;
	color:white;
}

.pickDifficulty {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	min-height: 30vh;
	width: 50vw;
	background: rgb(30,27,75);
	background: linear-gradient(94deg, rgba(30,27,75,1) 25%, rgba(74,4,78,1) 90%);
	border-radius: 16px;
	padding: 24px;
	box-shadow: 1px 1px 3px 3px rgb(0, 0, 0);
}

.containerHeader {
	font-size: 2.5vw;
	font-variant: small-caps;
	color:white;
	background-color: rgba(70, 70, 70, 0);
	padding: 12px 8px;
	border-radius: 12px;
}

.difficulty {
	padding: 8px 16px;
	font-size: 20px;
	border-radius: 4px;
	transition: border .5s ease-in;
	box-sizing: border-box;
	border: none;
}

.start {
	padding: 8px 60px;
}

.difficulty:hover {
	cursor: pointer;
	border: 2px solid rgba(0, 0, 0, 0.459)
}

.buttonContainer {
	display: flex;
	gap: 16px;
	justify-content: center;
	align-items: center;
	padding: 2vh 1vw;
}

.loadingText {
	font-size: 2vw;
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
}

.gameArea {
	height:100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
	box-sizing: border-box;
	width:90%;
}

.imageGrid {
	display: grid;
	height:100%;
	grid-auto-rows: 1fr;
	row-gap: 1vh;
	justify-items: center;
	align-items: center;
	box-sizing: border-box;
	padding: 40px 0px;
}

.gameInfo {
	display: flex;
	width: 90%;
	justify-content: space-evenly;
	font-size: 2vw;
	color: white;
	animation: wiggle 2s linear infinite;
	font-weight: bold;
}

.timerContainer {
	display:flex;
	align-items: center;
	flex-basis: 50%;
	gap: 12px;
	justify-content: flex-end;
}

.score {
	text-align: center;
	flex-basis: 50%;
	display: flex;
	align-items: center;
	gap: 12px;
}

.score img {
	height: 32px;
	aspect-ratio: 1 /1;
}

@keyframes wiggle {
	50% {
		transform: translateY(5px);
	}
}

.albumWrapper {
	text-align: center;
	box-sizing: border-box;
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #060e3a;
	padding: 32px 0;
	gap: 1vh;
	transition: transform .2s linear;
	border: 2px solid black;
	box-shadow: 3px 3px 5px 5px rgba(16, 0, 85, 0.281);
	perspective: 1500px;
}

.albumWrapper:hover {
	outline: none;
	transform: scale(1.05) rotateX(10deg) rotateY(-10deg);
}

.flip,
.flip:hover {
	transform: rotateY(90deg);
}

.albumWrapper h1 {
	font-size: .9vw;
	box-sizing: border-box;
	text-decoration: underline;
	width: 90%;
	text-overflow: ellipsis;
	color:white;
}

.albumWrapper img {
	border: 2px solid black;
	aspect-ratio: 1 / 1;
	width: 70%;
}

.timer {
	font-size: 2vw;
	color: white;
}

.dimmer {
	position:fixed;
	bottom: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.678);
	display: flex;
	justify-content: center;
	align-items: center;
}

.resultsWrapper {
	padding: 20px 60px;
	background-color: azure;
	border-radius: 12px;
	border: 4px solid black;
}

.resultText {
	text-align: center;
	font-size: 2vw;
	font-weight: bold;
}

.verticalFlex {
	display:flex;
	flex-direction: column;
	gap: 24px;
	margin-top: 24px;
}

.resultsButton {
	font-size: 1.5vw;
	padding: 8px;
	box-shadow: 1px 1px 3px 3px rgb(32, 2, 37);
	border-radius: 12px;
}

.icon {
	-webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}